body {
    background:url('assets/bg.svg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
#bg {
    display: none;
}
#maincontent {
    display: none;
}
/******DESKTOP********/
@media only screen and (min-width:1000px) {
    body {
        /*background-size:100%;
        z-index: -1;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 0% -20%;*/
    }
    #maincontentm {
        display: none;
    }
    #bg{
        display:flex;
        margin-top:100px;
        min-width:100%;
    }
    #maincontent {
        display:block;
    }
}