*{
    margin:0;
    padding:0;
}
/*Background*/
body{
    overflow:hidden;
}
.wrapper{
    height: auto !important;
    height: 110%;
    margin: 0 auto;
    overflow: hidden;
    transform:translate(-px, -2px);
}
.bgimage {
  position: absolute;
  min-height: 110% !important;
  width: 110%;
  z-index: 0;
  transform:translate(-5px, -5px);
}
.ibg-bgimage{
    position:absolute;
}
/*Center content*/
.mid{
    float:left;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    display:inline-block;
    font-size:4.2vw;
    color:#FFFFFF;
}
#content > div{
    color:#FFFFFF;
    overflow:hidden;
    postition:absolute;
}

#marie{
    margin-left:1.0vw;
}
#vinzons{
    margin-left:1.0vw;
}
#comingsoon{
    font-size:1.2vw;
}
#allcontent{
    position:absolute;
    /*transform:translate()*/
}
#content{
    display:none;
    font-family:'Raleway', sans-serif;
    color:#FFFFFF;
    height:auto;
    width: auto;
    padding:5px;
    /*border:solid;*/
    box-shadow: 5px -5px 2px #363636;
    border-radius:5px;
    position: fixed;
    padding:10px 12px 0px 12px;
    margin-top:auto;
    margin-bottom:auto;
    top:40%;
    left:40%;
    transform: translate(-50%, -50%);
    float:right;
}
@media (max-width: 600px) {
  .mid {
    font-size: 30px;
  }
  #sidebar img{
      width:30px;
      height:30px;
  }
}
@media only screen and (max-width: 480) {
  .mid {
    font-size: 30px;
  }
  #sidebar img{
      width:30px;
      height:30px;
  }
  #sidebar{
      border-radius:0px;
      height:100%;
  }
}
/*Sidebar Content*/
#sidebar img{
    display:block;
    padding:.5vw;
    height:55px;
    width:55px;
}
/*#imgcontainer{
    position:absolute;
    bottom:0px;
    width:auto;
}*/
#sidebar img:hover{
    opacity:.2;
}
#first{
    margin-top:100%;
}
#sidebar > a{
    overflow:hidden;
    position:absolute;
}

#sidebar{
    height:60%;
    opacity:.8;
    width: auto;
    background-color:#FFFFFF;
    /*margin-top:50px;*/
    padding:8px;
    border-radius:200px;
    position: fixed;
    top: 2%;
    left: 80%;
    transform: translate(-10%, -10%);
    float:right;
}