*{
    margin:0;
    padding:0;
}
body{
    overflow:hidden;
}

h1{
    font-size:1.0vw;
    color:green;
    font-family:sans-serif;
}
.wrapper{
    height: auto !important;
    height: 110%;
    margin: 0 auto;
    overflow: hidden;
    transform:translate(-px, -2px);
}
.bgimage {
  position: absolute;
  min-height: 110% !important;
  width: 110%;
  z-index: 0;
  transform:translate(-5px, -5px);
}
.ibg-bgimage{
    position:absolute;
}
.mid{
    float:left;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    display:inline-block;
    font-size:4.2vw;
    color:#FFFFFF;
}
#content > div{
    color:#FFFFFF;
    overflow:hidden;
    postition:absolute;
}

#marie{
    margin-left:1.0vw;
}
#vinzons{
    margin-left:1.0vw;
}
#comingsoon{
    font-size:1.2vw;
}
#allcontent{
    position:absolute;
    /*transform:translate()*/
}
#sidebar img{
    display:block;
    padding:5px;
    height:40px;
    width:40px;
}
#sidebar img:hover{
    opacity:.2;
}
#content{
    display:none;
    font-family:'Raleway', sans-serif;
    color:#FFFFFF;
    height:auto;
    width: auto;
    padding:5px;
    /*border:solid;*/
    box-shadow: 5px -5px 2px #363636;
    border-radius:5px;
    position: fixed;
    padding:10px 12px 0px 12px;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    float:right;
}
#first{
    margin-top:180px;
}
#sidebar{
    height:72%;
    opacity:.8;
    width: auto;
    background-color:#FFFFFF;
    margin-top:50px;
    padding:8px;
    border-radius:200px;
    position: fixed;
    top: 8%;
    left: 86%;
    transform: translate(-50%, -50%);
    float:right;
}